body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}
.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* nain content section */
.main-content-section {
  padding: 100px 90px;
}
.main-content-title {
  color: #000;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
/* about me section */
.about-me-section {
  margin-bottom: 40px;
}
.about-me-profession {
  color: #000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin-bottom: 25px;
}
.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* my project section */
.my-projects-section {
  margin-bottom: 50px;
}
.my-project-list {
  padding: 0 0 0 19px;
}
.my-project-item {
  color: #000;
  font-weight: bold;
}
.my-project-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-project-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.my-project-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
/* my work experiens */
.my-work-experiens-company {
  color: #fb6d3a;
}
.my-work-experiens-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.my-work-experiens-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.my-work-experiens-divider {
  color: #000;
}
.my-work-experiens-duties {
  padding: 0 0 0 19px;
}
.my-work-experiens-duty {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-work-experiens-company-block {
  margin-bottom: 15px;
}
/* sidebar section */
.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}
.contact-section,
.tech-skill-section {
  margin: 50px 0 0 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 10px;
}
/* contact section */
.contact-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 25px;
}
.contact-section-link {
  color: #565e6a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
/* tech skills section */
.tech-skill-list {
  padding: 0 0 0 18px;
}
.tech-skill-item {
  color: #fb6d3a;
}
.tech-skill-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
/* soft skill section */
.soft-skill-section {
  margin: 45px 0 0 40px;
}
.soft-skill-list {
  padding: 0 0 0 18px;
}
.soft-skill-item {
  color: #fb6d3a;
}
.soft-skill-item-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  color: hsl(hue, saturation, lightness);
}
